@model JCIEstimate.Models.Estimate

@{
    ViewBag.Title = "Contractor Totals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContractorTotals</h2>
<iframe src="~/Content/ReportingService.aspx" height="100%" width="100%"></iframe>

