@model JCIEstimate.Models.Location

@{
    ViewBag.Title = "Bids By Classification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:auto;">
    <iframe style="border:none;" src="~/Content/ReportingService.aspx?report=BidsByClassification" height="1000" width="100%"></iframe>
</div>
    