@model JCIEstimate.Models.Estimate

@{
    ViewBag.Title = "Category ECM By Contractor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:auto;">
    <iframe style="border:none;" src="~/Content/ReportingService.aspx?report=CategoryECMByContractor" height="1000" width="100%"></iframe>
</div>
    