@model JCIEstimate.Models.Estimate
    
<h2>Contractor Summary</h2>

@{
    ViewBag.Title = "Contractor Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:auto;">
    <iframe style="border:none;" src="~/Content/ReportingService.aspx?report=ContractorSummary&contractorUid=@ViewBag.userUid" height=" 1000" width="100%"></iframe>
</div>
