@model JCIEstimate.Models.Equipment

@{
    ViewBag.Title = "Equipment by ECM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:auto;">
    <iframe style="border:none;" src="~/Content/ReportingService.aspx?report=EquipmentForECMToPurchase&projectUid=@JCIExtensions.MCVExtensions.getSessionProject().ToString()&sortType=C" height="1000" width="100%"></iframe>
</div>
    