body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.titleTextBox{
    font-size:small;
    color:grey;
    font-style:italic;
}

.custom-combobox {
    position: relative;
    display: inline-block;
  }
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

.gridCheckBox {
}

.GridTable {
    padding: 5px;
    align-content: center;        

}
.GridTable thead{
    background-color:white;    
}

.GridTable td{    
    border-bottom: solid;
}


.CompletionTable {
    padding: 5px;
    align-content: center;        

}
.CompletionTable thead{
    background-color:white;    
}

.CompletionTable td{    
    border-bottom: solid;
}

.EquipmentIndexTable {
    padding: 5px;
    align-content: center;    
    width: 100%;
    margin-bottom: 20px;    
}
.EquipmentIndexTable thead{
    background-color:white;    
}

.EquipmentIndexTable td{    
    border-bottom: solid;
}

.EquipmentIndexTable th{    
    border-bottom: solid;
    padding-bottom:5px;
    margin-bottom:5px;
}

.selectedEquipmentItem{
    background-color:lightgray;    
}
.selectedEquipmentItem > td{
    font-weight:bold;
}

.unselectedEquipmentItem{
    background-color:none;
}

.img-zoom {
    width: 310px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../Images/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.toggleEquipmentTasks {cursor:pointer}
.toggleEquipmentAttributes {cursor:pointer}
.tdEquipmentForEcm {cursor:pointer}
.toggleReplacedEquipment {cursor:pointer}

.vertical-text {
	transform: rotate(45deg);
	transform-origin: left top 0;
}