@model IEnumerable<JCIEstimate.Models.Equipment>

@{
    ViewBag.Title = "Equipment Grid";
}

<h2>Assign Equipment Tasks</h2>
<table>
    <tr>
        <td>
            <input type="text" name="equipmentFilter" title="search" id="equipmentFilter" value="" />
        </td>
    </tr>
</table>
<table id="GridTable" class="GridTable">
    <thead>
        <tr>
            <th>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div><a href="Create"><img src="@Url.Content("/Images/AddItem.png")" height="25px" width="25px" alt="Click to add a new equipment" title="Click to add a new equipment" /></a></div>
                }
            </th>
            @foreach (var item in ViewBag.equipmentTasks)
            {
                <th class="GridTable">@item.equipmentTask1</th>
            }
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="tbEquipment">
        @Html.Partial("GridEditPartial")
    </tbody>
</table>