@model IEnumerable<JCIEstimate.Models.Equipment>

@{
    ViewBag.Title = "Equipment Grid";
}

<h2>Assign Equipment Tasks</h2>

<table>
    <tr>
        <td>
            <select class="equipmentGridFilter" id="equipmentGridFilter" name="equipmentGridFilter">
                @foreach (var item in ViewBag.filterList)
                {
                    <option value="@item.value" @((item.selected) ? "selected" : "")>@item.text</option>
                }
            </select>
        </td>
    </tr>
</table>
<table id="GridTable" class="GridTable">
    <tbody id="tbEquipment">
        @Html.Partial("GridEditPartial")
    </tbody>
</table>